{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}

<div class="modal-fade">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        {% if userEmotion|length > 10 %}
          <h5 class = "modal-title text-white" id = "exampleModalLabel">{{userEmotion}}</h5>
        {% else %}
          <h5 class="modal-title text-white" id="exampleModalLabel">Te hemos reconocido {{userEmotion}}</h5>
        {% endif %}
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>
            <strong>¿Esto es correcto?</strong>
          </p>
        </div>

        <hr />
      </div>
      <div class="text-center">
          <a href="{% url 'recognize' %}" class="btn btn-outline-danger">No, quiero volver a intentarlo</a>
          <a href = "http://127.0.0.1:8000/playlist/{{userEmotion}}" class = "btn btn-outline-success">¡Si! Recomiendame canciones</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}