{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <!-- <div id="search-bar-box" class="row">
        <style>
            #search-bar{
                width: 50%;
            }

            #search-bar-box{
                margin: 2em 0 3em 0;
            }
        </style>
        <form action="" method="get" class="text-center">
            <input class="form-control d-inline mx-auto text-center" id="search-bar" type="search" placeholder="Busca tu canción favorita...">
            <i class="fas fa-search"></i>
        </form>
    </div> -->
    <div class="container mt-5 pt-3 mb-5" >
        <div class="col-md-6 mx-auto">
            <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" placeholder="Busca tu canción favorita..." />
                <ul class="autocomplete-result-list"></ul>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2em;">

        <div class="col-md">
            <div class="card text-center" style="background-color: #8241F3;">
                <div class="card-body" style="padding-top: 0px;">
                    <h2 class="card-title" style="margin-top: 8px;">Según tus gustos</h2>
                    <ul class="list-group">
                        <a href="#!" class="list-group-item list-group-item-action">Canción 1</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 2</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 3</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 4</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 5</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 6</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 7</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 8</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 9</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 10</a>
                    </ul>
                </div>
            </div>
        </div>

    

        <div class="col-md">
            <div class="card text-center" style="background-color: #8241F3;">
                <div class="card-body" style="padding-top: 0px;">
                    <h2 class="card-title" style="margin-top: 8px;">Según tu último estado de ánimo</h2>
                    <ul class="list-group">
                        <a href="#!" class="list-group-item list-group-item-action">Canción 1</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 2</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 3</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 4</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 5</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 6</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 7</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 8</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 9</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 10</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para la barra de navegación -->
    <script>
        new Autocomplete('#autocomplete',{
            search : input =>{
                const url = `/get-songs/?search=${(input)}`
                return new Promise(resolve => {
                    fetch(url)
                    .then(response=>response.json())
                    .then(data=>{
                        resolve(data.payload)
                    })
                })
            },
            renderResult : (result, props)=>{
                let group = ''
                if(result.index % 3 === 0){
                    group = `<li class="group">Group</li>`
                }
                return `
                ${group}
                <li ${props}>
                    <div class="wiki-title">
                        <a href="" style="text-decoration: none; color: #000; display: inline-block; width: 100%;">${result.name}</a>
                    </div>
                </li>
                `
            }
        })
    </script>
    
{% endblock %}