{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block pageheader %} 
    <h1>Hola mundo</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatibus nemo eos modi qui. Maxime natus hic et. Odit rem provident quisquam hic nisi nesciunt repellat expedita labore obcaecati tempora?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, vel? Ea animi ratione maiores voluptatibus nobis. Harum, minus. Reiciendis quae autem illum sapiente rem officia sed, eaque minima accusamus quia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat illum numquam unde quod soluta ratione a? Natus accusamus quae quis at fuga consequuntur debitis repudiandae ipsa blanditiis, vero itaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repellat, quos animi ad suscipit harum fugiat similique iusto eligendi dolorem minus placeat adipisci, quae facilis, sed nesciunt minima laudantium. Unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae quas omnis iure at veniam vel corrupti quo minima! Iure suscipit reiciendis quod neque? Aut illum dignissimos voluptatum ducimus itaque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt omnis soluta in tenetur eveniet magnam vitae natus, recusandae excepturi! Nam, laboriosam. Animi nesciunt quam impedit earum distinctio ducimus, hic nisi.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus architecto quidem expedita fuga quae ullam saepe ipsam et vel quo? Animi iure aliquam unde totam porro voluptatibus debitis officia illum?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatibus nemo eos modi qui. Maxime natus hic et. Odit rem provident quisquam hic nisi nesciunt repellat expedita labore obcaecati tempora?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, vel? Ea animi ratione maiores voluptatibus nobis. Harum, minus. Reiciendis quae autem illum sapiente rem officia sed, eaque minima accusamus quia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat illum numquam unde quod soluta ratione a? Natus accusamus quae quis at fuga consequuntur debitis repudiandae ipsa blanditiis, vero itaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repellat, quos animi ad suscipit harum fugiat similique iusto eligendi dolorem minus placeat adipisci, quae facilis, sed nesciunt minima laudantium. Unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae quas omnis iure at veniam vel corrupti quo minima! Iure suscipit reiciendis quod neque? Aut illum dignissimos voluptatum ducimus itaque.    
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatibus nemo eos modi qui. Maxime natus hic et. Odit rem provident quisquam hic nisi nesciunt repellat expedita labore obcaecati tempora?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, vel? Ea animi ratione maiores voluptatibus nobis. Harum, minus. Reiciendis quae autem illum sapiente rem officia sed, eaque minima accusamus quia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat illum numquam unde quod soluta ratione a? Natus accusamus quae quis at fuga consequuntur debitis repudiandae ipsa blanditiis, vero itaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repellat, quos animi ad suscipit harum fugiat similique iusto eligendi dolorem minus placeat adipisci, quae facilis, sed nesciunt minima laudantium. Unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae quas omnis iure at veniam vel corrupti quo minima! Iure suscipit reiciendis quod neque? Aut illum dignissimos voluptatum ducimus itaque.
        
    </p>
{% endblock %}