{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <style>
        @media screen and (max-width: 991px){
            .playlist-container{
                gap:24px;
            }
        }
    </style>

    <div class="container mt-5 pt-3 mb-5" >
        <div class="col-md-6 mx-auto">
            <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" placeholder="Busca tu canción favorita..." />
                <ul class="autocomplete-result-list"></ul>
            </div>
        </div>
    </div>

    <div class="playlist-container row justify-content-center" style="margin-bottom: 2.5em;">

        <div class="playlist-container__card playlist-container__card--1 col-11 col-sm-11 col-lg-6">
            <div class="card text-center h-100" style="background-color: #8241F3;">
                <div class="card-body d-flex flex-column justify-content-end pt-0">
                    <div class="title-container my-auto">
                        <h2 class="title-container__card-title card-title">Según tus gustos</h2>
                    </div>
                    <ul class="list-group">
                        <a href="#!" class="list-group-item list-group-item-action">Canción 1</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 2</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 3</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 4</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 5</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 6</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 7</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 8</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 9</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 10</a>
                    </ul>
                </div>
            </div>
        </div>

    

        <div class="playlist-container__card playlist-container__card--2 col-11 col-sm-11 col-lg-6">
            <div class="card text-center" style="background-color: #8241F3;">
                <div class="card-body pt-0">
                    <h2 class="card-title">Según tu último estado de ánimo</h2>
                    <ul class="list-group">
                        <a href="#!" class="list-group-item list-group-item-action">Canción 1</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 2</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 3</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 4</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 5</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 6</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 7</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 8</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 9</a>
                        <a href="#!" class="list-group-item list-group-item-action">Canción 10</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para la barra de navegación -->
    <script>
        new Autocomplete('#autocomplete',{
            search : input =>{
                const url = `/get-songs/?search=${(input)}`
                return new Promise(resolve => {
                    fetch(url)
                    .then(response=>response.json())
                    .then(data=>{
                        resolve(data.payload)
                    })
                })
            },
            renderResult : (result, props)=>{
                let group = ''
                if(result.index % 3 === 0){
                    group = `<li class="group">Group</li>`
                }

                let artistas = ''               

                if ((result.artists).length == 1 ){
                    artistas = " - "+result.artists[0]
                }
                else if ((result.artists).length >= 2){
                    artistas = " - "+result.artists[0]+" ft("+result.artists[1]+" ...)"
                }

                let generos = ''

                if ((result.genres).length == 1 ){
                    generos = " - "+result.genres[0]
                }
                else if ((result.genres).length >= 2){
                    generos = " - "+result.genres[0]+"/"+result.genres[1]
                }
                
                return `
                ${group}
                <li ${props}>
                    <div class="wiki-title">
                        <a href="" style="text-decoration: none; color: #000; display: inline-block; width: 100%;">${result.name}${artistas}${generos}</a>
                    </div>
                </li>
                `
            }
        })
    </script>
    
{% endblock %}