{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}
    <section class="py-5 text-center container" style="background:  #fff ;">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-light"><b>INSTRUCCIONES DE USO</b></h2>
                <br>
                <br>
            </div>
            <div class="text-center">
                <img src="../../../static/CAMARA_INSTRUCCIONES.png" alt="Instrucciones" style="width: 50%; position: relative; left: 5%;">
            </div>
            
            <div>
                <br>
                <!-- <a href="{% url 'recognize' %}" class="btn btn-outline-success">Si, permito el uso de mi camara</a> -->
                <button type="button" class="miboton btn btn-primary" data-bs-toggle="modal" data-bs-target="#PermitirUsoDeCamara"> Comenzar Mood </button>
            </div>
        </div>
    </section>
    <br>

    <!-- Cuadro de permiso de uso de camara -->
    <div class="modal fade" id="PermitirUsoDeCamara" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    ¿Permite usted el uso de su cámara para el reconocimiento facial?
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <h6 class="text-center">
                        ¡Para nosotros es muy importante su seguridad!
                    </h6>
                    <br>
                    <div class="text-center">
                        <!-- <a href="{% url 'recognize' %}" data-bs-dismiss="modal" class="btn btn-outline-success">Si, permito el uso de mi camara</a> -->
                        <a href="{% url 'recognize' %}" onclick="charge()" class="btn btn-outline-success btn-recog">Si, permito el uso de mi cámara</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No, gracias</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script>
        function charge(){
            btn = document.getElementsByClassName('btn-recog');
            for (let i=0;i<btn.length;i++){
                btn[i].disabled = true;
                btn[i].innerHTML = `<div>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Reconociendo...</span>
                            </div>`
            }
        }
    </script>
    <br>
    <style>
        .miboton{
            background-color:#8241F3 ;
            border-color: #8241F3;
        }

        .miboton:hover, .miboton:focus, .miboton:active:focus{
            background-color:#5d30aa ;
            border-color: #5d30aa;
        }

        .miboton:active:focus, .miboton:focus{
            box-shadow: 0 0 0 .25rem #6836c057;
        }
    </style>
{% endblock %}