{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}
    <br>
    <section class="py-5 text-center container" style="background:  #F0F0F0 ;">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-light"><b>¡Bienvenida/o a Mood!</b></h2>
                <h3>Instrucciones de uso</h3>
                <br>
            </div>
            <div>
                <img src="../../../static/INSTRUCCIONES_MOOD.png" alt="Instrucciones" style="width: 600px; position: relative; left: 70px;">
            </div>
            
            <div>
                <br>
                <!-- <a href="{% url 'recognize' %}" class="btn btn-outline-success">Si, permito el uso de mi camara</a> -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PermitirUsoDeCamara"> Comenzar Mood </button>
            </div>
        </div>
    </section>
    <br>

    <!-- Cuadro de permiso de uso de camara -->
    <div class="modal fade" id="PermitirUsoDeCamara" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    ¿Permite usted el uso de su cámara para el reconocimiento facial?
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <h6 class="text-center">
                        ¡Para nosotros es muy importante su seguridad!
                    </h6>
                    <br>
                    <div class="text-center">
                        <!-- <a href="{% url 'recognize' %}" data-bs-dismiss="modal" class="btn btn-outline-success">Si, permito el uso de mi camara</a> -->
                        <a href="{% url 'recognize' %}" class="btn btn-outline-success">Si, permito el uso de mi cámara</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No, gracias</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <br>

{% endblock %}