{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}
    <section class="py-5 text-center container" style="background:  #F0F0F0 ;">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" style="font-family:Impact"><b>¡BIENVENIDA/O A MOOD!</b></h1>
                <br>
                <br>
            </div>
            <div class="text-center">
                <img src="../../../static/INSTRUCCIONES.png" alt="Instrucciones" style="width: 50%; position: relative;">
            </div>
            
            <div>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PermitirUsoDeCamara"> Escoger método </button>
            </div>
        </div>
    </section>
    <br>

    <!-- Cuadro de permiso de uso de camara -->
    <div class="modal fade" id="PermitirUsoDeCamara" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    ¿Cómo quieres realizar el ánalisis?
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <h6 class="text-center">
                        Escoge la opción más fácil para ti
                    </h6>
                    <br>
                    <div class="text-center">
                        <a href="{% url 'texto' %}" class="btn btn-outline-success">Por texto</a>
                        <a href="{% url 'camara' %}" class="btn btn-outline-success">Por cámara</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}