{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}

<div class="col my-5">
    <div class="card text-center" style="background-color: #8241F3;">
        <div class="card-body">
            <h3 class="card-title" style="color: #FFF;" >Tu playlist ideal {{ userEmotion }} es...</h3>
            <div class="songs-container" style="height: 400px; overflow: auto;">
                {% if canciones %}
                    {% for cancion in canciones %}
                        <div class="song-box">
                            <div class="song-box__info" onclick="loadSong('{{cancion.audio}}', '{{cancion.nombre}}', '{{cancion.imagen}}', '{{cancion.duracion}}', '{{forloop.counter0}}', {{canciones}})">
                                <div class="song-box__image-container">
                                    <img src="{{cancion.imagen}}" alt="{{cancion.nombre}}"/>
                                </div>
                                <h6 class="song-box__title">{{cancion.nombre}}</h6>
                            </div>
                            <button class="song-box__button" onclick="addQueue('{{cancion.audio}}', '{{cancion.nombre}}', '{{cancion.imagen}}', '{{cancion.duracion}}')">...</button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    .song-box{
        display: flex;
        flex-direction: row;

        color: black;
        background-color: #fff;

        border-radius: 5px;
        margin-top: 0.2em;
        margin-right: 0.2em;
    }

    .song-box:hover{
        background-color: #e0e0e0;
    }

    .song-box:first-child{
        margin-top: 0;
    }

    .song-box__info{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        height: 3em;
    }

    .song-box__info:hover{
        cursor: pointer;
    }

    .song-box__image-container{
        width: 2em;
        height: 2em;
        margin-left: 1em;
        object-fit: scale-down;
    }

    .song-box__image-container img{
        width: 100%;
        height: 100%;
    }

    .song-box__title{
        margin: 0;
        margin-left: 7px;
    }

    .song-box__button{
        padding-right: .65em;
        padding-left: .55em ;
        padding-bottom: 5px;
        border: none;
        background-color: transparent;
        color: black;
        text-align: center;
    }
</style>
{% endblock %}