{% extends 'base.html' %}

{% block title %}
    Mood
{% endblock %}

{% block content %}

<div class="col my-5">
    <div class="card text-center" style="background-color: #8241F3;">
        <div class="card-body">
            <h3 class="card-title" style="color: #FFF; margin-bottom: 20px;" >Tu playlist ideal {{ userEmotion }} es...</h3>
            <div class="list-group" style="height: 411px; overflow: auto;">
                {% if canciones %}
                    {% for cancion in canciones %}
                        <button type="button" class="list-group-item list-group-item-action" onclick="loadSong('{{cancion.audio.url}}', '{{cancion.nombre}}', '{{cancion.imagen}}', '{{cancion.duracion}}')">{{cancion.nombre}}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}