{% extends 'base.html' %}

{% block title %}
    Tu música
{% endblock %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container pt-5 border-bottom" >
            <h3>¡Mejora tu experiencia en Mood!</h3>
            <p class="mb-2">
                <a class="btn btn-primary my-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Crear una playlist</a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form method="POST">
                        {% csrf_token %}
                    
                        <div class="row">
                            <div class="fw-bold col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end" style="font-size: 18px;">
                                Nombre de la playlist
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <input class="form-control" type="text" name="newPlaylist">
                            </div>
                            <div class="col-12 col-md-4 text-md-start">
                                <button class="btn btn-success px-3" type="submit"><i class="fas fa-check"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </section>
    <br>

    {% if playlistToListen %}

    <div class="container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="px-4 my-1">
                <div class="row">
                    <div class="text-center">
                        <div class="col" >
                            <select name="playlistToListen" class="selectpicker" data-width="100%"  title="Seleccione tu playlist..." aria-label="" data-actions-box="true" data-live-search="true" data-size="10">
                                {% for playlist in playlists %}
                                    <option value="{{ playlist.id }}">{{ playlist.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="col">
                            <button class="btn btn-primary"  type="submit"> Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div class="col" style="margin: 2em;">
            <div class="card text-center" style="background-color: #8241F3;">
                <div class="card-body">
                    <h3 class="card-title" style="color: #FFF; margin-bottom: 20px;" >{{ playlistToListen }}</h3>
                    <ul class="list-group">
                        {% for cancion in songsPlaylist %}
                            <button type="button" class="list-group-item list-group-item-action" onclick="loadSong('{{cancion.audio}}', '{{cancion.nombre}}', '{{cancion.imagen}}', '{{cancion.duracion}}', '{{forloop.counter0}}', {{songsPlaylist}})">{{cancion.nombre}}</button>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    {% endif %} 

    <br> <br> <br>

{% endblock %}