<footer class="text-center text-white bg-gradient" style="background: #8241F3;">
    <div class="container p-4">
      <!-- Redes sociales -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"  ><i class="fab fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"  ><i class="fab fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"  ><i class="fab fa-instagram"></i></a>
      </section>
    
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Mood es un servicio implementado para los amantes de la música que desean subir su estado de animo. Es una plataforma web que por medio de un algoritmo de sugerencia usando IA reconoce los estados de animo, y a partir de estos recomiende canciones para estimular sus emociones. A diferencia de otras plataformas reproductoras de música, las sugerencias no se darán solo por búsquedas sino también por medio de las expresiones faciales con la finalidad de realizar una transición a diferentes estados emocionales.
        </p>
      </section>
      <!-- Section: Text -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="">Mood.com</a>
    </div>
    <!-- Copyright -->
  </footer>
