<!-- Section Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-gradient" style="background: #8241F3;">
    <a class="navbar-brand" href="">Icono</a>
    <!-- Navbar responsiv, se le pone icono que tiene bp -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Section de los items del Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Con bt5 paso de ser ms a me OJO, items que estan a la derecha (auto)-->
        <ul class="navbar-nav me-auto">
            <!-- Section Home -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <!-- Section Mood -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mood' %}">Mood</a>
            </li>
            <!-- Section Tu Musica -->
            <li class="nav-item">
                <a class="nav-link" href="#">Tu musica</a>
            </li>
        </ul>
        <!-- Items que estan a la izquierda  -->
        <ul class="navbar-nav">
            <!-- Section Mi perfil -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i> Mi perfil</a>
            </li>
        </ul>
    </div>
</nav> 