<!-- Encuesta de satisfacción para cuando va a abandonarse MOOD -->
<div class="modal fade" id="satisfactionForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
                Queremos mejorar para ti.
            </h5>
            <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <form method="GET" action="{% url 'sendSatisfactionForm' 'home' %}" id="myForm">
                {% csrf_token %}
                <h6 class="text-center">
                    ¿Qué tan a gusto te sentiste con el servicio de MOOD?
                </h6>
                <br>
                <!-- estilos para la encuesta deslizante -->
                <style>
                    .main{
                        width: 60%;
                        margin: 24% auto;
                        position: relative;
                    }
                    #slider{
                        -webkit-appearance: none;
                        width: 100%;
                        height: 7px;
                        outline: none;
                        border-radius: 3px;
                    }
                    #slider::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        width: 48px;
                        height: 48px;
                        cursor: pointer;
                        z-index: 3;
                        position: relative;
                    }
                    #selector{
                        width: 48px;
                        height: 48px;
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 2;
                    }
                    .SelectBtn{
                        width: 60px;
                        height: 60px;
                        background-image: url(../../../static/tres.webp);
                        background-size: cover;
                        background-position: center;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0;
                    }
                    #progressBar{
                        width: 50%;
                        height: 7px;
                        background: linear-gradient(45deg, rgba(194,10,203,1) 0%, rgba(0,95,255,1) 100%);
                        border-radius: 3px;
                        position: absolute;
                        top: 47%;
                        left: 0;
                    }
        
                </style>

                <!-- barra del formulario -->

                <div class="main">
                    <input type="range"  min="1" max="5" value="3" id="slider" name="punctuation">
                    <div id="selector">
                        <div class="SelectBtn" id="btn">
                        </div>
                    </div>
                    <div id="progressBar">
            
                    </div>
                </div>

                <script>
                    var slider = document.getElementById("slider");
                    var selector = document.getElementById("selector");
                    var selectBtn = document.getElementById("btn");
                    var progBar = document.getElementById("progressBar");
        
                    var arr=[0,25,50,75,100]

                    // cambios necesarios para que se mueva la barra y la imágen a la par que el input
                    
                    slider.oninput = function(){
                        selector.style.left = arr[this.value - 1]+ "%";
                        progBar.style.width = arr[this.value - 1]+ "%";
                        if (this.value==1) {
                            selectBtn.style.backgroundImage = "url('../../../static/uno.png')";
        
                        }else if (this.value==2) {
                            selectBtn.style.backgroundImage = "url('../../../static/dos3.png')";
                            progBar.style.background= "linear-gradient(45deg, rgba(255,0,5,1) 0%, rgba(194,10,203,1) 100%)";
        
                        }else if (this.value==3) {
                            selectBtn.style.backgroundImage = "url('../../../static/tres.webp')";
                            progBar.style.background= "linear-gradient(45deg, rgba(194,10,203,1) 0%, rgba(0,95,255,1) 100%)";
        
                        }else if (this.value==4) {
                            selectBtn.style.backgroundImage = "url('../../../static/cuatro.png')";
                            progBar.style.background= "linear-gradient(45deg, rgba(0,95,255,1) 0%, rgba(10,203,61,1) 100%)";
        
                        }else if (this.value==5) {
                            selectBtn.style.backgroundImage = "url('../../../static/cinco.png')";
                            progBar.style.background= "linear-gradient(45deg, rgba(10,203,61,1) 0%, rgba(236,255,0,1) 100%)";
        
                        }
                        console.log(this.value);
                    }
                </script>
                <br>
                <!-- redirección del formulario para enviar o cancelar -->
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal" id="btn-env">Enviar</button>
                    <a href="#" class="btn btn-outline-danger" id="btn-cancl">Cancelar</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Section Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-gradient" style="background: #8241F3;">

    {% if MOOD %}
        <button type="button" class="navbar-brand" data-bs-toggle="modal" data-bs-target="#satisfactionForm" style="padding-left: 15px; border: none; background-color: transparent;" id="btn-logo"><img src="../../../static/LOGO.png" alt="Logo" style="width: 90px; margin-left: 30px; margin-top: -10px; margin-bottom: -10px;"></button> 
    {% else %}
        <a class="navbar-brand" href="{% url 'home' %}" style="padding-left: 15px;"><img src="../../../static/LogoBlancoMood.png" alt="Logo" style="width: 90px; margin-left: 30px; margin-top: -10px; margin-bottom: -10px;"></a> 
    {% endif %}

    <!-- Navbar responsiv, se le pone icono que tiene bp -->
    <div style="padding-right: 15px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- Section de los items del Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 25px;">
        <!-- Con bt5 paso de ser ms a me OJO, items que estan a la derecha (auto)-->
        <ul class="navbar-nav me-auto">
            <!-- Section Home -->
            <li class="nav-item">
                {% if MOOD %}
                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#satisfactionForm" id="btn-home" style="border: none; background-color: transparent;"><i class="fas fa-home"></i> Home</button>
                {% else %}
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                {% endif %}
            </li>
            <!-- Section Mood -->
            <li class="nav-item">
                {% if MOOD %}
                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#satisfactionForm" id="btn-mood" style="border: none; background-color: transparent;"><i class="fas fa-laugh-beam"></i> Mood</button>
                {% else %}
                    <a class="nav-link" href="{% url 'mood' %}"><i class="fas fa-laugh-beam"></i> Mood</a>
                {% endif %}
            </li>
            <!-- Section Tu Musica -->
            <li class="nav-item">
                {% if MOOD %}
                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#satisfactionForm" id="btn-tmu" style="border: none; background-color: transparent;"><i class="fas fa-music"></i> Tu musica</button>
                {% else %}
                    <a class="nav-link" href="{% url 'tuMusica' %}"><i class="fas fa-music"></i> Tu musica</a>
                {% endif %}
            </li>
        </ul>
        <!-- Items que estan a la derecha del todo  -->
        <ul class="navbar-nav">
            <!-- Section Mi perfil -->
            <li class="nav-item">
                {% if MOOD %}
                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#satisfactionForm" id="btn-perf" style="border: none; background-color: transparent;"><i class="fas fa-user"></i> Mi perfil</button>
                {% else %}
                    <a class="nav-link" href="{% url 'miPerfil' %}"><i class="fas fa-user"></i> Mi perfil</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav> 
<script>
    // redirección según la pestaña desde la que se haya seleccionado
    document.getElementById("btn-logo").onclick = function(){
        console.log("entro");
        document.getElementById("myForm").action="{% url 'sendSatisfactionForm' 'home' %}";
        document.getElementById("btn-cancl").href="{% url 'home' %}";
    }
    document.getElementById("btn-home").onclick = function(){
        console.log("entro");
        document.getElementById("myForm").action="{% url 'sendSatisfactionForm' 'home' %}";
        document.getElementById("btn-cancl").href="{% url 'home' %}";
    }
    document.getElementById("btn-mood").onclick = function(){
        console.log("entro");
        document.getElementById("myForm").action="{% url 'sendSatisfactionForm' 'mood' %}";
        document.getElementById("btn-cancl").href="{% url 'mood' %}";
    }
    document.getElementById("btn-tmu").onclick = function(){
        console.log("entro");
        document.getElementById("myForm").action="{% url 'sendSatisfactionForm' 'tumusica' %}";
        document.getElementById("btn-cancl").href="{% url 'tuMusica' %}";
    }
    document.getElementById("btn-perf").onclick = function(){
        console.log("entro");
        document.getElementById("myForm").action="{% url 'sendSatisfactionForm' 'perfil' %}";
        document.getElementById("btn-cancl").href="{% url 'miPerfil' %}";
    }
</script>